doctype html
html
head
    meta(charset="utf-8")
    title Cocos2d-HTML5 Test Cases
    link(rel="icon" type="image/GIF" href="images/favicon.ico")

body(style="text-align: center;background: #f2f6f8;")
img(style="clear:both;margin-bottom: 20px" src="javascripts/js-tests/res/Images/cocos2dbanner.png")
div
div(style="display:inline-block;width:auto; margin: 0 auto; background: black; position:relative; border:5px solid black; border-radius: 10px; box-shadow: 0 5px 50px #333")
    canvas(id="gameCanvas" width="800" height="450")
script(src="javascripts/cocos2d-html5/CCBoot_TestCase.js")
script(src="javascripts/js-tests/main.js")